body{
margin: 0;
background-color: rgb(189, 177, 162);
color: darkblue;
font-family: 'Segoe UI';
font-size: 17px;
line-height: 1.7
}

.fejlec {
  background-color: darkblue;
  color: #ffffff;
  padding: 40px 20px 32px;
  text-align: center;
}

.profilkep {
  width: 150px;
  height: 150px;
  border: 5px solid #ffffff00;
  border-radius: 50%;
  margin-bottom: 14px;
}

.fejlec h1 {                        
  margin: 0 0 6px;
  font-size: 32px;
}

.motto {
  margin: 0;
  color: rgb(146, 146, 236);
  font-style: italic;
}

.menu {
  background-color: rgb(5, 5, 107);
  padding: 12px 20px;
  text-align: center;
}

.menu a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 14px;
  margin: 2px;
  border-radius:0px;
  font-size: 15px;
}


.menu a:hover {
  background-color: rgb(135, 166, 177);
}

.tartalom {
  width: 90%;
  max-width: 850px;
  margin: auto;
}

.doboz {
  background-color: rgb(219, 217, 217);
  border: 1px solid #e2ddd3b2;      
  border-left: 6px solid darkblue;
  border-radius: 10px;
  padding: 24px 28px;
  margin-bottom: 26px;
}

h2 {
  margin: 0 0 12px;
  color: rgb(2, 2, 107);
  font-size: 25px;
}

strong {
  color:rgb(2, 2, 107);
}

.halvany {
  color: #7c7efca8;
  font-size: 15px;
}

.kozepre {
  text-align: center;
}

.kartyak {
  text-align: center;
  margin-bottom: 26px;
}

.kartya {
  display: inline-block;
  width: 230px;
  vertical-align: top; 
  text-align: left; 
  background-color:black ;
  border: 1px solid #e2ddd3;
  border-radius: 10px;
  padding: 14px;
  margin: 8px 6px;
}

.kartya img {
  width: 100%;
  border-radius: 6px;
}

.kartya p {
  font-size: 15px;
  color:rgba(192, 190, 190, 0.578);
}

h3 {
  margin: 12px 0 6px;
  color: rgb(239, 239, 239);
  font-size: 19px;
}

.gomb {
  display: inline-block;
  background-color: darkblue;
  color: #ffffff;
  text-decoration: none;
  padding: 11px 22px;
  border-radius: 8px;
  margin-top: 6px;
}

.gomb:hover {
  background-color:rgb(5, 5, 107);
  color: #ffffff;
}